@font-face {
  font-family: 'Courier Prime Code';
  src: url('/_fonts/CourierPrimeCode-Regular.eot');
  src: url('/_fonts/CourierPrimeCode-Regular.eot?#iefix') format('embedded-opentype'),
       url('/_fonts/CourierPrimeCode-Regular.woff')       format('woff'),
       url('/_fonts/CourierPrimeCode-Regular.ttf')        format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Courier Prime Code';
  src: url('/_fonts/CourierPrimeCode-Italic.eot');
  src: url('/_fonts/CourierPrimeCode-Italic.eot?#iefix') format('embedded-opentype'),
       url('/_fonts/CourierPrimeCode-Italic.woff')       format('woff'),
       url('/_fonts/CourierPrimeCode-Italic.ttf')        format('truetype');
  font-weight: normal;
  font-style: italic;
}
