html {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", "Verdana", sans-serif;
}
body>header {
    font-family: "Courier Prime Code", "Courier Prime", "Courier New", "Courier", monospace;
}
code, pre, tt, .code {
    font-family: "DejaVu Sans Mono", monospace;
}
body>header {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1em;
}
body>footer {
    font-size: 88%;
}
.logo {
    padding: 20px;
}
.twitter {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}
body>header a {
    color: #00FF3F;
    padding: .16em 0 0 0;
}
body>header a:hover {
    color: #000000;
    background-color: #00FF3F;
    text-decoration: none;
}
#ampersand {
    cursor: pointer;
}
#ampersand:hover {
    color: #00FF3F;
}
