<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://nige.io/fonts/courier-prime-code.css">
  <link rel="stylesheet" href="http://nige.io/fonts/dejavu-sans-mono.css">
  <link rel="stylesheet" href="/_style/syntaq.css">
  <link rel="stylesheet" href="/_style/pygments.css">
  <link rel="stylesheet" href="/_style/site.css">
  <meta charset="UTF-8">
  <title>{{title.text.source}} - Nigel Small</title>
</head>
<body>
  <header>
    <div class="logo">&gt;&nbsp;<a href="/">nige.tech</a></div>
    <div class="twitter"><a href="https://twitter.com/technige">@technige</a>&nbsp;<span id="ampersand" onclick="ampersand()">&amp;</span></div>
  </header>
  <aside id="sidebar">
    <nav class="contents">
      <div class="title">{{!title.text.html}}</div>
      <ul>
        % for heading, subheadings in contents:
          <li><a href="#{{heading.tag}}">{{!heading.text.html}}</a>
            <ul>
              % for subheading in subheadings:
                <li><a href="#{{subheading.tag}}">{{!subheading.text.html}}</a></li>
              % end
            </ul>
          </li>
        % end
      </ul>
    </nav>
  </aside>
  <main>{{!body}}</main>
  <footer>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Nigel Small</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  </footer>
  <script src="/_scripts/ampersand.js"></script>
</body>
</html>
